body {
    margin: 0;
    font-family: Arial, sans-serif;
    .navbar {
        background-color: #faf9f6;
        overflow: hidden;
        padding: 1em;
     }
     
     .navbar a {
        color: black;
        text-decoration: none;
        padding: 0.5em;
        display: inline-block;
     }
}

header {
    background-color: #dfdfdf;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

.center-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #dfdfdf;
    color: #000000;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    margin-inline: 10px 10px;
    margin-right: 20px;
}